.formRegister input{
    padding: 1.5rem;
    outline: 0;
    border: 1px solid var(--color-dark);
}

.formRegister h2{
    text-align: center;
}

.formRegister{
    width: 400px;
    max-width: 500px;
    margin-top: 170px;
}

.link{
    text-align: end;
    width: 100%;
}

.formRegister button{
    background-color: var(--color-secundary);
    color: white;
    font-weight: bolder;
    border: 2px solid var(--color-dark);
    border-radius: 0.3rem;
    padding: 0.4rem;
    width: 100%;
}

.formRegister button:hover{
    transition: 0.3s ease;
    background-color: transparent;
    color: var(--color-dark);
    box-shadow: 1px 1px 5px var(--color-secundary);
}

.formRegister form{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.formRegister form div{
    display: flex;
    flex-direction: column;
}

.inputArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputArea label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.seePassArea{
    display: flex;
    justify-content: space-between;
}

.seePassArea .div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.eyeOpen:hover{
    cursor: pointer;
}

.eyeClose:hover{
    cursor: pointer;
}

.eyeOpen{
    color: var(--color-dark);
    font-size: 1.2rem;
}

.eyeClose{
    color: var(--color-dark);
    font-size: 1.2rem; 
}

a{
    margin-top: 1rem;
}

@media screen and (max-width: 555px) {
    .formRegister {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .formRegister form{
        width: 90%;
        margin: 1rem;   
    }
}