

.music-post{
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.575);
    margin-bottom: 10px;
    border-radius: 5px;
}

.music-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem;
    width: 600px;
    flex-wrap: wrap;
}

/* Titulo e Sub-título da Música */
.name h5{
    font-weight: 200;
    color: rgb(105, 104, 104);
    font-size: 0.8rem
}

.name h4{
    font-size: 1.3rem
}


/* Botões de Controle */
.controls{
    display: flex;
    gap: 0.2rem;
}
.control{
    border: 1px solid gray;
    font-size: 1.8rem;
    border-radius: 50%;
    color: rgb(41, 40, 40);
}
.control:hover{
    cursor: pointer;
}
.control-volume{
    font-size: 1rem;
}
input {
    cursor: pointer;
    height: 1.5px;
}
.arrow{
    cursor: pointer;
}
#volume{
    width: 3.5rem;
}

/*Descrição da Música*/
.container-description{
    display: none;
    padding: 1.2rem;
    padding-top: 1rem;
    width: 100%;
    border-top: 1px solid rgb(214, 214, 214);
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}
@media screen and (max-width: 628px){

  .section-one{
    padding: 15px;
  }
  .music-container{
    width: 90vw;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }

  input{
    width: 100%;
  }

  button{
    width: 100%;
  }
}


