.slider-with-draws{
    display: flex;
    justify-content:flex-start;
    overflow-x: scroll;
    width: 80%;
    gap: 1rem;
}

.slider-with-draws div{
    display: flex;
    justify-content: center;
}

.slider-with-draws::-webkit-scrollbar{
    border-radius: 20px;
    border: 1.3px solid rgb(173, 172, 172);
  }
  .slider-with-draws::-webkit-scrollbar-thumb{
      background-color:rgb(5, 233, 176);
      border-radius: 15px;
  }

  @media screen and (max-width: 1000px) {
    .slider-with-draws{
        width: 100%;
    }

    .container-draw-post{
        width: 300px;
    }

    .all-drawings{
        width: 90vw;
    }
  }