
.description-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    margin: 10px;
}

.description-container h1{
    font-size: 2.3rem;
}

.section-one-i{
    gap: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

