
.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(221, 220, 220);
  background-color: white;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.header-container nav ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 2rem
}

.header-container nav li{
  color: black;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  list-style: none;
}

.header-container nav li:hover{
  border-bottom: 3px solid rgb(20, 243, 184);
  transition: 0.8s ease;
  cursor: pointer;
  color:rgb(20, 243, 184); 
}

.logo-space{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
}

.header-container nav label:hover{
  cursor: pointer;
  transition: 0.2s ease;
}

.navegation-links{
  text-decoration: none;
}

.menu-icon{
  display: none;
  font-size: 1.5rem;
}

.mobile-menu {
  display: none;
  width: 100%;
  transition: 0.3s ease;
}
.mobile-menu ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  transition: 0.3s ease;
}

.mobile-menu ul .navegation-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: rgb(54, 54, 54);
  padding: 1.5rem ;
  border-radius: 5px;
  outline: none;
}

.navegation-links-icon{
  font-size: 1.3rem;
  color: white;
}

.mobile-menu ul li{
  color: white;
  font-weight: bolder;
}

@media screen and (max-width:650px){

  nav{
    justify-content: space-between;
  }
  .menu-icon{
    display: block;
  }

  #list-nav{
    display: none;
  }
}