
.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(221, 220, 220);
  background-color: white;
  padding: 1.5rem;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container nav ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 2rem
}

.header-container nav li{
  color: black;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  list-style: none;
}

.header-container nav li:hover{
  border-bottom: 3px solid rgb(0, 255, 149);
  transition: 0.8s ease;
  cursor: pointer;
  color:rgb(0, 255, 149); 
}

.header-container nav label{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
}

.header-container nav label:hover{
  cursor: pointer;
  transition: 0.2s ease;
}

.navegation-links{
  text-decoration: none;
}



.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

@media screen and (max-width:678px){
  
}