
.container { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 800px;
}

.draw-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2.3rem;
}

.draw-container h2{
    font-size: 1.6rem;
    text-align: center;
}

.all-gruop{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 70%;
}

.all-gruop::-webkit-scrollbar{
  border-radius: 20px;
  border: 1.3px solid rgb(173, 172, 172);

}

.all-gruop::-webkit-scrollbar-thumb{
    background-color:rgb(5, 233, 176);

    border-radius: 15px;
}

.container-md{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    margin: auto;
    margin-top: 5.6rem;
}
