
.container { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 800px;
}

.draw-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
}

.all-gruop{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}