
.section-apresentation{
    display: flex;
    justify-content: center;
}
.main-container-ilustration{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 3rem;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-acess-instagram{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    border-radius: 5px;
    padding: 1rem;
}

.btn-acess-instagram a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.btn-acess-instagram #insta-icon{
    font-size: 1.2rem;
    font-weight: 300;
}

/*Sessão dos desenhos*/
.all-drawings{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.section-title-and-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5rem;
}

.title-section{
    text-align: center;
}

.div-md{
    display: none;
    z-index: 200;
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 2rem;
}


