.apresentation{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 3.5rem;
}
.apresentation-box{
    display: flex;
    flex-direction: column;
}

/*Fotos e Descrições*/
.photo{
    content: "";
    width: 150px;
    height: 150px;
    background-color: rgb(185, 183, 183);
    border-radius: 50%;
}

.name-and-ocupation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#nome{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}


/* SOBRE OS CAMPOS DE CONTATO*/
.contact label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    background: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-secundary) 
      );
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 1px 1px 3px rgb(190, 190, 190);
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact ul{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 40px 40px;
    grid-template-rows: 40px 40px;
    grid-gap: 0.2rem;
}

.contact ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    width:2.5rem;
    height: 2.5rem;
}

.contact ul #linkedin{
    background-color: rgb(38, 89, 253);
}
.contact ul #github{
    background-color: rgb(67, 67, 68);
}
.contact ul #email{
    background-color: rgb(252, 8, 69);
}
.contact ul #insta{
    background-color: rgb(252, 8, 150);
}


/* SOBRE AS FERRAMENTAS*/
.tools{
    width: 100px;
    height: 100px;
}

.icon-tools{
    font-size: 1.5rem;
}


/*  TEXTOS SOBRE MIM*/
.apresentation-text{
    display: flex;
    flex-direction: column;
}

.apresentation-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* SOBRE O PROJETO*/
.about-project{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2.3rem;
}

/*END*/
.end{
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}

.end .box-text{
    text-align: center;
}

.end .box-text{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 640px){
    .apresentation{
        flex-wrap: wrap;
    }
}

