:root{
    --color-font: #ffffff;
    --color-primary:rgb(0, 255, 149);
    --color-secundary: rgb(8, 216, 171);
}

footer{
    width: 100%;
    color: var(--color-font);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.534);
    font-size: 1.2rem;
}

footer .footer-content{
    background: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-secundary) 
      );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3.5rem;
}

footer .credits{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author{
    margin-top: 1.3rem;
}

.links{
    display: flex;
    margin-top: 1.3rem;
    gap: 2.5rem;
}

.links a{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-primary);
    background-color: var(--color-font);
}
#name{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
