.tools-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2.3rem;
    text-align: center;
}

.tools-container h2{
    text-align: center;
}

.list-tools{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    max-width: 600px;
}

.icon-tools{
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    font-size: 1.4rem;
    width: 3.1rem;
    height: 3.1rem;
    padding: 5px;
}


/*ANIMAÇÃO DOS ICONES*/
#react:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(0, 183, 255);
    color: rgb(0, 183, 255) ;
}

#js:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(238, 255, 0);
    color: rgb(238, 255, 0);
}

#express:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(92, 92, 91);
    color: rgb(92, 92, 91);
}

#mongo:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(26, 189, 12);
    color:  rgb(26, 189, 12);
}

#node:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(27, 224, 9);
    color:  rgb(27, 224, 9);
}

#css:hover{
    cursor: pointer;
    transition: 0.9s ease;
    transform: translateY(-1rem);
    box-shadow: 0px 0px 8px rgb(15, 46, 224);
    color: rgb(15, 46, 224);
}

.description-tools{
    display:none;
    width: 100%;
    min-height: 200px;
}

@media screen and (max-width: 493px){
    .list-tools{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 4rem;
        margin: 0 auto;
    }
}



